<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzas para editar</title>
</head>

<body>
  <main>
    <h1>Lista de musicos</h1>
    <ul>
      <% musicos.forEach(music => { %>
        <li><%= musico.nome %> / R$ <%= musisco.preco %></li>
        <p>Descrição: <%= musico.descricao %></p>
        <img src="<%= musico.imagem %>" alt="Foto de uma pizza de <%= musico.nome %>">
        <p>Ingredientes</p>
        <ul>
          <% musico.ingredientes.forEach(ingrediente => { %>
            <li><%= ingrediente %> </li>
          <% }) %>
        </ul>
        <a href="/musicos/<%= musico.id %>">Editar pizza</a>
        <form action="/musicos/<%= musico.id %>" method="post">
          <button type="submit">Apagar musico</button>
        </form>
      <% }) %>
    </ul>
  </main>
</body>

</html>